<div class="backcityInclude" ng-controller='inforController'>
  <div ng-click='choselocation2()' class="startcity">
    <input type="text" ng-model='locationcity' readonly>
    <span>定位城市</span>
    <div ng-if='backshow' ui-sref='main.home.city.confirm.infor' class="cityimg">
    </div>
    <!-- <h2 ui-sref='main.home.city.confirm.infor'>确定</h2> -->
  </div>
  <div class="chosestartcity">
    <div class="firstletter">
      <h2>B</h2>
    </div>
    <div class="citylist">
      <h2 ng-click='chosebackcity("北京",0)'><span>北京</span>
        <div ng-if='city2[0]' ui-sref='main.home.city.confirm.infor' class="cityimg">
        </div></h2>
    </div>

    <div class="firstletter">
      <h2>G</h2>
    </div>
    <div class="citylist">
      <h2 ng-click='chosebackcity("广州",1)'><span>广州</span>
        <div ng-if='city2[1]' ui-sref='main.home.city.confirm.infor' class="cityimg">
        </div></h2>

    </div>

    <div class="firstletter">
      <h2>S</h2>
    </div>
    <div class="citylist">
      <h2 ng-click='chosebackcity("上海",2)'><span>上海</span>
        <div ng-if='city2[2]' ui-sref='main.home.city.confirm.infor' class="cityimg">
        </div>
      </h2>
      <h2 ng-click='chosebackcity("深圳",3)'><span>深圳</span>
        <div ng-if='city2[3]' ui-sref='main.home.city.confirm.infor' class="cityimg">
        </div>
      </h2>
    </div>
  </div>
</div>
