<div ng-class='{"showslide":showslide}' class="slidemenu">
  <div class="slidecontainer">
    <div class="slidecontent">
      <div class="icon">
        <img src="{{userimg}}" alt="" />
      </div>
      <h2 style="margin-top:0.2767rem;">{{username}}</h2>
      <div style='margin-top: 0.8225rem;' class="myoptions">
        <h2>
          <div class="myimg">
            <img src="images/my1.png" alt="" />
          </div>
          我的行程</h2>
        <h2>
          <div class="myimg">
            <img src="images/my2.png" alt="" />
          </div>
          联系我们</h2>
        <h2>
          <div class="myimg">
            <img src="images/my3.png" alt="" />
          </div>
          设置</h2>
      </div>
    </div>
  </div>
  <div ng-click='homecontent()' class="slidecontainerr">

  </div>
</div>
<div ng-if='shadow' class="shadow">

</div>
